GOOGLE_FORM_ACTION_URL=https://docs.google.com/forms/d/e/FORM_ID/formResponse
GOOGLE_FORM_ENTRY_NAME=entry.xxxxxxxxxx
GOOGLE_FORM_ENTRY_PHONE=entry.xxxxxxxxxx
GOOGLE_FORM_ENTRY_CURRENT_USE=entry.xxxxxxxxxx
GOOGLE_FORM_ENTRY_REASON=entry.xxxxxxxxxx
GOOGLE_FORM_ENTRY_INCONVENIENCE=entry.xxxxxxxxxx
GOOGLE_FORM_ENTRY_WILLINGNESS=entry.xxxxxxxxxx
NEXT_PUBLIC_KAKAO_CHANNEL_URL=https://pf.kakao.com/_fJZab
